In [ ]:
!pip install pandas
!pip3 install git+https://github.com/JustAnotherArchivist/snscrape.git

In [ ]:
import pandas as pd
import snscrape.modules.twitter as sntwitter
import itertools
import csv

   Id Sentiment                             Instagram Comment Text
0   1  negative   <USERNAME> TOLOL!! Gak ada hubungan nya kegug...
1   2  negative  Geblek lo tata...cowo bgt dibela2in balikan......
2   3  negative  Kmrn termewek2 skr lengket lg duhhh kok labil ...
3   4  negative  Intinya kalau kesel dengan ATT nya, gausah ke ...
4   5  negative  hadewwwww permpuan itu lg!!!!sakit jiwa,knp ha...

In [ ]:
from google.colab import data_table
data_table.enable_dataframe_formatter()

In [ ]:
df = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper ('"data science"').get_items(), 100))

df.head()

In [ ]:
df_city = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper('omnibuslaw near:"indonesia" within:100000000000km').get_items(), 1000))[['user','date', 'renderedContent']]

df_city

In [ ]:
df_city.to_csv('paru1.csv')